<mat-dialog-content>
  <mat-label>Location</mat-label>
  <div></div>
  <mat-form-field appearance="fill">
    <mat-select  [(ngModel)]="data.category">
      <mat-option value="busch">Busch</mat-option>
      <mat-option value="Livingston">Livingston</mat-option>
      <mat-option value="collegeAve">Brower</mat-option>
      <mat-option value="cookDouglass">Neilson</mat-option>
      <mat-option value="woodysBusch">Woody's</mat-option>
      <mat-option value="kilmersMarket">Kilmer's</mat-option>
      <mat-option value="cafeWest">Cafe West</mat-option>
    </mat-select>
  </mat-form-field>
  <div></div>
  <mat-label>Meal</mat-label>
  <div></div>
  <mat-form-field appearance="fill">
    <mat-select  [(ngModel)]="data.meal">
      <mat-option value="Breakfast">Breakfast</mat-option>
      <mat-option value="Lunch">Lunch</mat-option>
      <mat-option value="Dinner">Dinner</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" style="position: relative; left: 4rem;" (click)="close()">Close</button>

  <button class="mat-raised-button bg-success" style="position: relative; left: 6rem;" (click)="save()">Save</button>
</mat-dialog-actions>
