<div class="animated fadeIn">
  <div class="row">
    <ng-container *ngFor="let guest of asyncGuests | async; let i = index">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="h4 m-0">{{guest.name}}</div>
            <div class="progress progress-xs my-3">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" *ngIf="i%4 === 0"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" *ngIf="i%4 === 1"></div>
              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" *ngIf="i%4 === 2"></div>
              <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" *ngIf="i%4 === 3"></div>
            </div>
            <small class="text-muted">{{guest.email}}</small>
            <div class="col-0 top-space-10">
              <button type="button " class="btn btn-ghost-primary" *ngIf="i%4 === 0">
                Show History...
                </button>
              <button type="button" class="btn btn-ghost-success" *ngIf="i%4 === 1">
                Show History...
              </button>
              <button type="button" class="btn btn-ghost-danger" *ngIf="i%4 === 2">
                Show History...
                </button>
              <button type="button" class="btn btn-ghost-warning" *ngIf="i%4 === 3">
                Show History...
                </button>
            </div>

          </div>
        </div>
      </div>
      <!--/.col-->
    </ng-container>
  </div>
  <!--/.row-->
</div>

<button class="btn btn-success float-left" (click)="addGuestDialog()">
  Add new guest
</button>