h3 {
    margin: 0 0 10px;
}
  
pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.cal-time-events {
  display: none !important;
}
.cal-week-view .cal-day-headers {
  padding-left: 0 !important;
}
.cal-week-view .cal-all-day-events .cal-time-label-column {
  display: none !important;
}
.cal-week-view .cal-time-label-column {
  width: 0px;
}
.cal-week-view .cal-events-row {
  margin-left: 0 !important;
}